*.md
tests/**/*.js
coverage/**/*
node_modules/**/*
build/**/*
dist/**/*
.vscode/**/*
__snapshots__/**/*
.next/**/*
.nuxt/**/*
*.d.ts
*.db
*.pdb
*.map
*.sqlite
*.lock
*.log
*.bin
*.bundle
*.deploy
*.a
*.dll
*.so
*.dylib
*.exe
*.sln
*.hprof
*.orig
*.class
*.project
*.settings
*.factorypath
*.iws
*.iml
*.cproject
*.launch
*.launch
*.tmproj
.sublime-project
